@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Poppins:wght@200;400;600&display=swap');

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --DarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --LightGray: hsl(0, 0%, 98%);
  --fsize: 1rem;
  --fw-thin: 200;
  --fw-reg: 400;
  --fw-thick: 600;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', 'Courier New', Courier, monospace;
  font-size: clamp(var(--fsize), 1vw + 0.25rem, 1.8rem);
}

.main-content {
  background-color: var(--LightGray);
  padding: clamp(2rem, 4vw + 0.5rem, 4rem) clamp(2rem, 4vw + 0.5rem, 15vw);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-heading {
  font-weight: var(--fw-reg);
  text-align: center;
  font-size: clamp(2rem, 2.5vw + 0.5rem, 5rem);
  margin-bottom: 2rem;
  line-height: 1.1;
  color: var(--GrayishBlue);
}
.bold {
  font-weight: var(--fw-thick);
  display: block;
  color: var(--DarkBlue);
}
.sec-heading {
  color: var(--GrayishBlue);
  text-align: center;
  margin-bottom: 2rem;
  font-size: clamp(var(--fsize), 1vw + 0.5rem, 2rem);
  font-weight: var(--fw-reg);
}
.card-feature {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, minmax(6rem, 17%));
  gap: clamp(2rem, 3vw + 0.5rem, 5rem);
  align-content: center;
}
.card {
  background-color: white;
  padding: 2rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 7px 10px rgba(61, 91, 125, 0.2);
  position: relative;
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card--1::before {
  background-color: var(--Red);
}
.card--2::before {
  background-color: var(--Cyan);
}
.card--3::before {
  background-color: var(--Orange);
}
.card--4::before {
  background-color: var(--Blue);
}
.card--1 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.card--2 {
  grid-column: 1/2;
  grid-row: 2/4;
}
.card--3 {
  grid-column: 2/3;
  grid-row: 3/5;
}
.card--4 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.card__heading {
  font-weight: var(--fw-thick);
  margin-bottom: 1rem;
}
.text {
  color: var(--GrayishBlue);
  margin-bottom: 1rem;
}
.card__img {
  width: clamp(3rem, 3.5vw + 1rem, 10rem);
  align-self: end;
  margin-top: auto;
}

@media screen and (max-width: 975px) {
  .card-feature {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: clamp(2rem, 3vw + 0.5rem, 5rem);
  }
  .card--1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .card--2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .card--3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .card--4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 600px) {
  .card-feature {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: clamp(1rem, 3vw + 0.5rem, 5rem);
  }
  .text {
    margin-bottom: 0;
  }
  .card {
    padding: 1rem;
  }
  .card--1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .card--2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .card--3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .card--4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
